*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  padding-left: 1.25rem;
}
